P {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: deafult
}
.text {
       FONT-SIZE: 11px; COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: deafult
}
.downtext {
       FONT-SIZE: 11px; COLOR: #000000; FONT-WEIGHT: bold; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: deafult
}
A:link {
	FONT-SIZE: 11px; COLOR: #25646D; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #25646D; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; COLOR: #25646D; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.down {
         FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.down:link {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #25646D; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A.down:visited {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #25646D; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A.down:hover {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #25646D; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.down:active {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #25646D; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.top {
         FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.top:link {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.top:visited {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.top:hover {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
A.top:active {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.menu {
         FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
A.menu:link {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #1B2C53; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.menu:visited {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #1B2C53; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.menu:hover {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #1B2C53; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.menu:active {
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #1B2C53; FONT-SIZE: 10px; TEXT-DECORATION: none
}
font.code {
	display:block;
	border: solid 1px #CECEFF;
	background: #ECECFF;
	font-family: Courier New;
	color: #000080;
	margin: 5px 0px 5px 0px;
	text-align: left;
}
font.example {
	display:block;
	border: solid 1px #FFCECE;
	background: #FFECEC;
	font-family: Courier New;
	color: #800000;
	margin: 5px 0px 5px 0px;
	text-align: left;
	}
